.first-screen {
  background: #ffffff;
  background-image:
    linear-gradient(90deg, transparent 50px, #ffb4b8 50px, #ffb4b8 52px, transparent 52px),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
  font-family: 'Gloria Hallelujah', cursive;
}

* {
  -webkit-tap-highlight-color: transparent;
}
